.designs {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ant-modal-footer {
  display: none;
}

.vertical-center-modal {
  text-align: center;
  white-space: nowrap;
}

.vertical-center-modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

.vertical-center-modal .ant-modal {
  display: inline-block;
  vertical-align: middle;
  top: 0;
  text-align: left;
}


.custom-image img {
  display: block;
  border-radius: 4px;
}
.custom-card {
  padding: 10px 16px 0 16px;
}
.custom-card p {
  color: #999;

  i {
    padding-right: 4px;
  }

  span {
    font-size: 12px;
  }
}