.list {
  margin: 24px 42px; }

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.wrap {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 70px; }

.gridItem {
  background-size: 100%;
  box-shadow: 0 0 1.25em 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  cursor: move; }

.gridItem .name {
  display: block;
  bottom: -22px;
  width: 100%;
  font-size: 12px;
  position: absolute;
  color: #555;
  text-transform: capitalize; }

.filters {
  font-size: 12px;
  height: 42px; }
  .filters a {
    padding: 0 4px; }

.custom-image img {
  display: block;
  border-radius: 4px; }

.custom-card {
  padding: 10px 16px 0 16px; }

.custom-card p {
  color: #999; }
  .custom-card p i {
    padding-right: 4px; }
  .custom-card p span {
    font-size: 12px; }
