@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body, html {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
  font-size: 15px;
}


* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif !important;
}

#root {
  height: 100%;

  > div {
    height: 100%;
  }
}